USE [master]
GO
/****** Object:  Database [Churches]    Script Date: 3/3/2026 2:56:50 AM ******/
CREATE DATABASE [Churches]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Churhes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\Churhes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Churhes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\Churhes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Churches].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Churches]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 3/3/2026 2:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[المركز] [nvarchar](255) NULL,
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Churches]    Script Date: 3/3/2026 2:56:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Churches](
	[اسم الكنيسة] [nvarchar](255) NULL,
	[المساحة بالمتر] [nvarchar](255) NULL,
	[الاستعمال] [nvarchar](255) NULL,
	[المركز] [nvarchar](255) NULL,
	[x] [nvarchar](255) NULL,
	[y] [nvarchar](255) NULL,
	[AddressID] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([المركز], [AddressID]) VALUES (N'دسوق', 1)
INSERT [dbo].[Address] ([المركز], [AddressID]) VALUES (N'الرياض', 2)
INSERT [dbo].[Address] ([المركز], [AddressID]) VALUES (N'سيدى سالم', 3)
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
INSERT [dbo].[Churches] ([اسم الكنيسة], [المساحة بالمتر], [الاستعمال], [المركز], [x], [y], [AddressID]) VALUES (N'الكنيسة الانجيليه بدسوق', N'246.81064720000', N'كنيسه', N'دسوق', N'30.655419999999', N'31.135778349999', 1)
INSERT [dbo].[Churches] ([اسم الكنيسة], [المساحة بالمتر], [الاستعمال], [المركز], [x], [y], [AddressID]) VALUES (N'كنيسة الشهيد العظيم مارجرجس بكفرالخير', N'970.68897830000', N'كنيسه', N'دسوق', N'30.74427', N'31.03821091', 1)
INSERT [dbo].[Churches] ([اسم الكنيسة], [المساحة بالمتر], [الاستعمال], [المركز], [x], [y], [AddressID]) VALUES (N'كنيسة القديس مارجرجس بدسوق', N'289.26193860000', N'كنيسه', N'دسوق', N'30.64141', N'31.13199135', 1)
GO
ALTER TABLE [dbo].[Churches]  WITH CHECK ADD  CONSTRAINT [FK_Churches_Address] FOREIGN KEY([AddressID])
REFERENCES [dbo].[Address] ([AddressID])
GO
ALTER TABLE [dbo].[Churches] CHECK CONSTRAINT [FK_Churches_Address]
GO
USE [master]
GO
